#product {
  padding: 60px 0;
  background: #f8f9fa;

  .product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 45px;
    gap: 130px;

    &--card {
      width: 300px;
      height: 420px;
      background: white;
      border-radius: 12px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      overflow: hidden;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
      }

      &__text {
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          font-size: 22px;
          font-weight: 600;
          color: #333;
        }

        h2 {
          font-size: 20px;
          font-weight: 700;
          color: #2c3e50;
        }

        h3 {
          font-size: 14px;
          color: #7f8c8d;
          font-weight: 500;
          padding: 5px 22px;
          background: #f1f2f6;
          border-radius: 20px;
          display: inline-block;
          align-self: center;
        }
        &--icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          text-align: center;
          margin-top: 10px;
          a {
            font-size: 23px;
            color: black;
          }
        }
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        padding: 20px;
        // background: #f8f9fa;
        // border-bottom: 1px solid #eee;
      }
    }
  }
}
