#category {
  padding: 30px 0;
  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--card {
      display: flex;
    }
  }
}

#bag {
  padding: 20px 0;
  .bag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    img {
      object-fit: contain;
      width: 30%;
    }
    &--text {
      h3 {
        font-weight: 500;
        font-size: 20px;
        color: #f59b00;
        margin-bottom: 10px;
      }
      h1 {
        font-weight: 700;
        font-size: 31px;
        color: #2f2f2f;
        margin-bottom: 15px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #2f2f2f;
        margin-bottom: 30px;
      }
      .capitalize-text {
        text-transform: capitalize;
      }
      button {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 16px;
        background: #f59b00;
        color: white;
        border-radius: 5px;
        border: none;
      }
    }
  }
}
