#basket {
  padding: 40px 0;
  .basket {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 590px;
    height: 600px;
    gap: 20px;
    &--card {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      height: 130px;
      border: 2px solid black;
      border-radius: 15px;
      position: relative;
      img {
        object-fit: contain;
      }
      h1 {
        font-size: 28px;
        font-weight: 700;
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          color: red;
          font-size: 22px;
          font-weight: 700;
        }
      }
      &__count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 30px;
        border: 2px solid black;
        button {
          width: 30px;
          height: 30px;
          font-size: 24px;
          background: black;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
        }
        h5 {
          font-size: 18px;
          color: yellowgreen;
        }
      }
      &__delete {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        font-size: 25px;
        padding: 10px;
        border: none;
        border-radius: 0 15px 0 15px;
      }
    }
  }
}
